@import "./utils/mixins";
@import "./utils/resets";
@import "./utils/fonts";
@import "./utils/colors";

@import "./components/header";
@import "./components/mobile";
@import "./components/footer";
@import "./components/mainContacts";
@import "./components/mainIndex";
@import "./components/mainServices";
@import "./components/modal";

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@400;500;700&display=swap");

body {
  font-size: 1.2em;
  letter-spacing: 0.04em;
  color: $primaryColor;
  font-family: $standard-font;
}
a {
  color: $primaryColor;
}
